.Navigation {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    top: 0;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navigation input {
    height: 90%;
    width: 50%;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #DAE0E6;
}